body{
    background-color:hsl(148, 38%, 91%);
    font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
    font-size: 14px;
    font-weight: 400;
}
.first{
    display: flex;
    width: 100% !important;
}
.lastname{
    padding: 0 0 0 10px;
}
form{
    position: static; 
    left: 0; 
    right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 370px;
  border-radius:5px;
  background-color: white;
  padding: 20px;
  margin-top: 150px;
  margin-bottom: 70px;
}
#email{
    width:100%;
}
input{
   margin-bottom: 14px;
   margin-top: 5px;
}
@media (max-width: 375px) {
  body {
    font-size: 14px;
  }
  .image {
    width: auto;
  }
}
@media (min-width: 1440px) {
  body {
    font-size: 18px;
  }
  .container {
    width: 80%; 
  }
}
#qry1{
    border: 1px solid rgb(54, 53, 53);
    padding:2px 37px 0 10px;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.qry{
    display: flex;
}
input[type="submit"]{
    display: block;
    width: 200px;
    background-color:hsl(169, 82%, 27%);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin:0 auto;
    width: 95%;
    height: 30px;
    border: 0px solid black;
}
 
input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  #popup{
    display:none;
    position:absolute;
    color: white;
    background-color: #3a3737;
    border: 1px solid #5a5454;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 17%;
    opacity: 0.8;
    transform:translate(-50%,-50%);
    padding: 20px;
    z-index: 1000;
  }
  #popup.hvisible{
    display: block;
  }
  h3,h4{
    padding: 1px;
  }
 textarea{
    width: 100% !important
  };
